*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    margin: 0 auto;
    background-color:oklch(94.3% 0.029 294.588);
}

h1{
  font-family: "monotalic", monospace ;
  color: oklch(29.1% 0.149 302.717);
}

h2{
  font-family: "monotalic", monospace ;
  color: oklch(43.8% 0.218 303.724);
  border: 1px solid;
  border-radius: 10px;
  padding: 8px;
}

h3{
  font-family: "monotalic", monospace ;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32vh;
}