*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    margin: 0 auto;
    background-color:oklch(94.3% 0.029 294.588);
}

h1{
  font-family: "monotalic", monospace ;
  color: oklch(29.1% 0.149 302.717);
}

h2{
  font-family: "monotalic", monospace ;
  color: oklch(43.8% 0.218 303.724);
}

h3{
  font-family: "monotalic", monospace ;
  color: oklch(29.1% 0.149 302.717);
}

.container{
    padding: 20px;
    
}

header{
    padding-bottom: 1vh;
    position: sticky;
}

main{
    display: flex;
    margin: 10px 0;
    gap: 4vh;
}

.image-gallery{
    width: 60%;
    height: 40%;
}

.description{
    width: 40%;
    padding-right: 30px;
}

.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container (positioning is needed to position the close button and the text) */
  .image-container {
    position: relative;
    display: none;
  }
  
  /* Expanding image text 
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }*/
  
  /* Closable button inside the image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }

  @media (max-width: 900px) {
  main {
    flex-direction: column; /* stack content vertically */
    align-items: center;    /* optional: center children horizontally */
  }

  .description{
    padding: 0;
     width: 80vw;
  }

   h2{
    font-size: 1em;
  }

  h3{
    font-size: .9em;
  }

  h4{
    font-size: .8em;
  }
}